/* CSS */
.colorRojo {
    background-color: red;
    color: white;
    font-size: medium;
    margin: 10px;
    padding: 10px;
}

.pais {
    background-color: whitesmoke;
    color: blue;
    font-size: medium;
    margin: 5px;
    padding: 5px;    
}